body{
  background-image: url("sudokuBackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

table {
  margin:1em auto;
}
td {
  height:30px;
  width:30px;
  border:1px solid;
  text-align:center;
}
td:first-child {
  border-left:solid;
}
td:nth-child(3n) {
  border-right:solid ;
}
tr:first-child {
  border-top:solid;
}
tr:nth-child(3n) td {
  border-bottom:solid ;
}

input{
  width: 100%;
}

button{
  margin-left: 48%;
}

tbody{
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
